/* #ECA442 #CA2521 #61120E */

.header {
  background-color: #ca2521;
  color: white;
  width: 100%;
  font-weight: bold;

  display: grid;

  grid-template-columns: 1fr 1fr;

  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 6rem;
  display: block;
  margin-left: 2rem;
  padding: 4rem;

  span {
    font-family: 'Dancing Script';
  }
}

@media (max-width: 1100px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }

  .title {
    text-align: center;
  }

  .links {
    background-color: #61120e;
    width: 100%;
    height: 100%;
  }
}

.links {
  display: flex;
  margin-right: 2rem;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.link {
  font-size: 2.4rem;
  display: block;
  padding: 0 4rem;
  transition: all 0.2s ease;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.1) translateY(2px);
  }
}

.cartContainer {
  position: relative;
}
