.card {
  height: 60rem;
  margin: 1rem;
  overflow: hidden;

  grid-column: span 2;

  border-radius: 20px;
  border: solid 1px #eaeaea;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: #fafafa;
  transition: color 0.15s ease, border-color 0.15s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:active,
.card:hover {
  border-color: #ca2521;
}

.imageContainer {
  height: 70%;

  img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.cartButton {
  height: 20%;
  background-color: #dadada;
  transition: all 0.15s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cartButton:hover,
.cartButton:active {
  background-color: #ca2521;
}

.cartText {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
}

.itemName {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.8rem;
  color: #ca2521;
}
