.main {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  color: #ca2521;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem;
}

.cartItem {
  display: grid;
  align-items: center;
  grid-template-columns: 10rem 1fr 3rem 3rem;
  font-size: 3rem;
  padding: 3rem;
  margin: 0.2rem;

  background-color: #eaeaea;

  img {
    display: block;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
  }
}

.itemName {
  margin: 0 2rem;
}

.itemQuantity {
  justify-self: center;
}

.removeButton {
  color: #ca2521;
  font-size: 2rem;
  justify-self: center;
  cursor: pointer;
}
