.main {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

@media (max-width: 600px) {
  .main {
    grid-column: full-start / full-end;
  }
}
