.main {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: row;
}

.pageTitle {
  color: #ca2521;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 3rem;
}

.loginForm {
  font-size: 2rem;
  width: 80rem;
  display: flex;
  flex-direction: column;
  align-self: center;

  div {
    display: flex;
    margin: 0.8rem 0;
    align-items: center;
  }

  label {
    flex: 0 0 20rem;
    text-align: left;
    padding: 0 2rem;
  }

  input {
    flex: 1 1;
    min-width: 0;
    height: 5rem;
    padding: 0 2rem;
    background-color: #fff;
    padding: 6px;
    border: none;
    border-radius: 4px;
  }
}

.loginButton {
  width: 30%;
  align-self: end;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #ca2521;
  font-size: 2rem;
  text-align: center;
  padding: 1.6rem;
  margin: 2rem 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1.02) translateY(2px);
  }
}
