.userForm {
  font-size: 2rem;
  width: 80rem;
  display: flex;
  flex-direction: column;
  align-self: center;

  div {
    display: flex;
    margin: 0.8rem 0;
    align-items: center;
  }

  label {
    flex: 0 0 20rem;
    text-align: left;
    padding: 0 2rem;
  }

  input {
    flex: 1 1;
    min-width: 0;
    height: 5rem;
    padding: 0 2rem;
    background-color: #eaeaea;
    padding: 6px;
    border: none;
    border-radius: 4px;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.orderButton {
  width: 40%;
  align-self: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #ca2521;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1.02) translateY(2px);
  }
}
